# Secrets
secrets.yaml
google_credentials.json
*.pem
*.key
*.crt
*.p12
*.der

# HA intern/runtime
.storage/
.cloud/
.cache/
.HA_VERSION
.ha_run.lock
ip_bans.yaml

# Integration runtime data
music-assistant/

# Databases / logs
*.db
*.db-shm
*.db-wal
home-assistant.log*
*.log

# Editor
.vscode/

# Python
__pycache__/
*.pyc

# .storage backups created by apply scripts
*.bak.*

# Corrupt DB artifacts
*.db.corrupt.*
*.db-shm.corrupt.*
*.db-wal.corrupt.*
